In [ ]:
import math
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)

import matplotlib.pyplot as plt

In [ ]:
#Problem Statement:
#Players who can fulfil the role of a pinch hitter in the powerplay
#Steps1:importing csv file

In [ ]:
deliveries= pd.read_csv('ipl_updated.csv')

In [ ]:
deliveries.head(5)

   match_id  season  start_date                  venue  innings  ball           batting_team                 bowling_team      striker  non_striker   bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed  other_wicket_type  other_player_dismissed
0  335982    2008    2008-04-18  M Chinnaswamy Stadium  1        0.1   Kolkata Knight Riders  Royal Challengers Bangalore  SC Ganguly   BB McCullum  P Kumar  0             1      NaN    NaN      NaN    1.0     NaN       NaN         NaN             NaN                NaN
1  335982    2008    2008-04-18  M Chinnaswamy Stadium  1        0.2   Kolkata Knight Riders  Royal Challengers Bangalore  BB McCullum  SC Ganguly   P Kumar  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
2  335982    2008    2008-04-18  M Chinnaswamy Stadium  1        0.3   Kolkata Knight Riders  Royal Challengers Bangalore  BB McCullum  SC Ganguly   P Kumar  0             1       1.0   NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
3  335982    2008    2008-04-18  M Chinnaswamy Stadium  1        0.4   Kolkata Knight Riders  Royal Challengers Bangalore  BB McCullum  SC Ganguly   P Kumar  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
4  335982    2008    2008-04-18  M Chinnaswamy Stadium  1        0.5   Kolkata Knight Riders  Royal Challengers Bangalore  BB McCullum  SC Ganguly   P Kumar  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN

In [ ]:
#step 2 Data Preparation

In [ ]:
deliveries['wides'] = deliveries['wides'].fillna(0)
deliveries['wides'] = deliveries['wides'].astype('int')
deliveries['noballs'] = deliveries['noballs'].fillna(0)
deliveries['noballs'] = deliveries['noballs'].astype('int')
deliveries['byes'] = deliveries['byes'].fillna(0)
deliveries['byes'] = deliveries['byes'].astype('int')
deliveries['legbyes'] = deliveries['legbyes'].fillna(0)
deliveries['legbyes'] = deliveries['legbyes'].astype('int')
deliveries['penalty'] = deliveries['penalty'].fillna(0)
deliveries['penalty'] = deliveries['penalty'].astype('int')
deliveries = deliveries[(deliveries.innings!= 3) & (deliveries.innings!= 4) & (deliveries.innings!= 5) & (deliveries.innings!= 6)]

In [ ]:
def balls_per_dismissal(balls, dismissals):
    if dismissals > 0:
        return balls/dismissals
    else:
        return balls/1

def balls_per_boundary(balls, boundaries):
    if boundaries > 0:
        return balls/boundaries
    else:
        return balls/1

def playerStatistics(df):

    df['isDot'] = df['runs_off_bat'].apply(lambda x: 1 if x == 0 else 0)
    df['isOne'] = df['runs_off_bat'].apply(lambda x: 1 if x == 1 else 0)
    df['isTwo'] = df['runs_off_bat'].apply(lambda x: 1 if x == 2 else 0)
    df['isThree'] = df['runs_off_bat'].apply(lambda x: 1 if x == 3 else 0)
    df['isFour'] = df['runs_off_bat'].apply(lambda x: 1 if x == 4 else 0)
    df['isSix'] = df['runs_off_bat'].apply(lambda x: 1 if x == 6 else 0)

    runs = pd.DataFrame(df.groupby(['striker'])['runs_off_bat'].sum().reset_index()).groupby(['striker'])['runs_off_bat'].sum().reset_index().rename(columns={'runs_off_bat':'runs'})
    innings = pd.DataFrame(df.groupby(['striker'])['match_id'].apply(lambda x: len(list(np.unique(x)))).reset_index()).rename(columns = {'match_id':'innings'})
    balls = pd.DataFrame(df.groupby(['striker'])['match_id'].count()).reset_index().rename(columns = {'match_id':'balls'})
    dismissals = pd.DataFrame(df.groupby(['striker'])['player_dismissed'].count()).reset_index().rename(columns = {'player_dismissed':'dismissals'})

    dots = pd.DataFrame(df.groupby(['striker'])['isDot'].sum()).reset_index().rename(columns = {'isDot':'dots'})
    ones = pd.DataFrame(df.groupby(['striker'])['isOne'].sum()).reset_index().rename(columns = {'isOne':'ones'})
    twos = pd.DataFrame(df.groupby(['striker'])['isTwo'].sum()).reset_index().rename(columns = {'isTwo':'twos'})
    threes = pd.DataFrame(df.groupby(['striker'])['isThree'].sum()).reset_index().rename(columns = {'isThree':'threes'})
    fours = pd.DataFrame(df.groupby(['striker'])['isFour'].sum()).reset_index().rename(columns = {'isFour':'fours'})
    sixes = pd.DataFrame(df.groupby(['striker'])['isSix'].sum()).reset_index().rename(columns = {'isSix':'sixes'})

    df = pd.merge(innings, runs, on = 'striker').merge(balls, on = 'striker').merge(dismissals, on = 'striker').merge(dots, on = 'striker').merge(ones, on = 'striker').merge(twos, on = 'striker').merge(threes, on = 'striker').merge(fours, on = 'striker').merge(sixes, on = 'striker')

    #StrikeRate
    df['SR'] = df.apply(lambda x: 100*(x['runs']/x['balls']), axis = 1)

    #runs per innings
    df['RPI'] = df.apply(lambda x: x['runs']/x['innings'], axis = 1)

    #balls per dismissals
    df['BPD'] = df.apply(lambda x: balls_per_dismissal(x['balls'], x['dismissals']), axis = 1)

    #balls per boundary
    df['BPB'] = df.apply(lambda x: balls_per_boundary(x['balls'], (x['fours'] + x['sixes'])), axis = 1)

    return df

In [ ]:
df = playerStatistics(deliveries)

In [ ]:
df.head(5)

          striker  innings  runs  balls  dismissals  dots  ones  twos  threes  fours  sixes          SR        RPI        BPD        BPB
0  A Ashish Reddy  23       280   196    15          61    83    20    1       16     15     142.857143  12.173913  13.066667  6.322581
1  A Badoni        23       399   325    18          127   124   28    3       24     19     122.769231  17.347826  18.055556  7.558140
2  A Chandila      2        4     7      1           3     4     0     0       0      0      57.142857   2.000000   7.000000   7.000000
3  A Chopra        6        53    75     5           45    21    2     0       7      0      70.666667   8.833333   15.000000  10.714286
4  A Choudhary     3        25    20     2           4     13    1     0       1      1      125.000000  8.333333   10.000000  10.000000

In [ ]:
#stages of play (performance analysis)

In [ ]:
def phase(ball):
    if ball <= 6:
        return 'Powerplay'
    elif ball <= 15:
        return 'Middle'
    else:
        return 'Death'

In [ ]:
deliveries['phase'] = deliveries['ball'].apply(lambda x: phase(x))

In [ ]:
def phasesOfplay(df, current_phase):

    df = df[df.phase == current_phase]
    df.reset_index(inplace = True, drop = True)

    df['isDot'] = df['runs_off_bat'].apply(lambda x: 1 if x == 0 else 0)
    df['isOne'] = df['runs_off_bat'].apply(lambda x: 1 if x == 1 else 0)
    df['isTwo'] = df['runs_off_bat'].apply(lambda x: 1 if x == 2 else 0)
    df['isThree'] = df['runs_off_bat'].apply(lambda x: 1 if x == 3 else 0)
    df['isFour'] = df['runs_off_bat'].apply(lambda x: 1 if x == 4 else 0)
    df['isSix'] = df['runs_off_bat'].apply(lambda x: 1 if x == 6 else 0)

    runs = pd.DataFrame(df.groupby(['striker'])['runs_off_bat'].sum().reset_index()).groupby(['striker'])['runs_off_bat'].sum().reset_index().rename(columns={'runs_off_bat':'runs'})
    innings = pd.DataFrame(df.groupby(['striker'])['match_id'].apply(lambda x: len(list(np.unique(x)))).reset_index()).rename(columns = {'match_id':'innings'})
    balls = pd.DataFrame(df.groupby(['striker'])['match_id'].count()).reset_index().rename(columns = {'match_id':'balls'})
    dismissals = pd.DataFrame(df.groupby(['striker'])['player_dismissed'].count()).reset_index().rename(columns = {'player_dismissed':'dismissals'})

    dots = pd.DataFrame(df.groupby(['striker'])['isDot'].sum()).reset_index().rename(columns = {'isDot':'dots'})
    ones = pd.DataFrame(df.groupby(['striker'])['isOne'].sum()).reset_index().rename(columns = {'isOne':'ones'})
    twos = pd.DataFrame(df.groupby(['striker'])['isTwo'].sum()).reset_index().rename(columns = {'isTwo':'twos'})
    threes = pd.DataFrame(df.groupby(['striker'])['isThree'].sum()).reset_index().rename(columns = {'isThree':'threes'})
    fours = pd.DataFrame(df.groupby(['striker'])['isFour'].sum()).reset_index().rename(columns = {'isFour':'fours'})
    sixes = pd.DataFrame(df.groupby(['striker'])['isSix'].sum()).reset_index().rename(columns = {'isSix':'sixes'})

    df = pd.merge(innings, runs, on = 'striker').merge(balls, on = 'striker').merge(dismissals, on = 'striker').merge(dots, on = 'striker').merge(ones, on = 'striker').merge(twos, on = 'striker').merge(threes, on = 'striker').merge(fours, on = 'striker').merge(sixes, on = 'striker')

    #StrikeRate
    df['SR'] = df.apply(lambda x: 100*(x['runs']/x['balls']), axis = 1)

    #runs per innings
    df['RPI'] = df.apply(lambda x: x['runs']/x['innings'], axis = 1)

    #balls per dismissals
    df['BPD'] = df.apply(lambda x: balls_per_dismissal(x['balls'], x['dismissals']), axis = 1)

    #balls per boundary
    df['BPB'] = df.apply(lambda x: balls_per_boundary(x['balls'], (x['fours'] + x['sixes'])), axis = 1)

    return df

In [ ]:
pp_df = phasesOfplay(deliveries, 'Powerplay')
mid_df = phasesOfplay(deliveries, 'Middle')
dth_df = phasesOfplay(deliveries, 'Death')

In [ ]:
pp_df.head(2)

          striker  innings  runs  balls  dismissals  dots  ones  twos  threes  fours  sixes         SR   RPI   BPD   BPB
0  A Ashish Reddy  1        5     7      1           5     1     0     0       1      0      71.428571  5.00  7.0   7.0
1  A Badoni        4        9     22     2           16    5     0     0       1      0      40.909091  2.25  11.0  22.0

In [ ]:
mid_df.head(2)

          striker  innings  runs  balls  dismissals  dots  ones  twos  threes  fours  sixes          SR        RPI        BPD       BPB
0  A Ashish Reddy  5        61    41     0           16    13    5     0       2      5      148.780488  12.200000  41.000000  5.857143
1  A Badoni        13       146   134    6           53    56    10    0       10     5      108.955224  11.230769  22.333333  8.933333

In [ ]:
dth_df.head(2)

          striker  innings  runs  balls  dismissals  dots  ones  twos  threes  fours  sixes          SR        RPI        BPD       BPB
0  A Ashish Reddy  22       214   148    14          40    69    15    1       13     10     144.594595  9.727273   10.571429  6.434783
1  A Badoni        15       244   169    10          58    63    18    3       13     14     144.378698  16.266667  16.900000  6.259259

In [ ]:
# Filter by minimum 20 innings
pp_df = pp_df[pp_df.innings >= 20]
pp_df.reset_index(inplace = True, drop = True)

In [ ]:
wt_sr, wt_rpi, wt_bpd, wt_bpb = 0.38, 0.25, 0.12, 0.26

In [ ]:
#step1: square of all values
pp_df['calc_SR'] = pp_df['SR'].apply(lambda x: x*x)
pp_df['calc_RPI'] = pp_df['RPI'].apply(lambda x: x*x)
pp_df['calc_BPD'] = pp_df['BPD'].apply(lambda x: x*x)
pp_df['calc_BPB'] = pp_df['BPB'].apply(lambda x: x*x)

sq_sr, sq_rpi, sq_bpd, sq_bpb = np.sqrt(pp_df[['calc_SR','calc_RPI', 'calc_BPD', 'calc_BPB']].sum(axis = 0))

pp_df['calc_SR'] = pp_df['calc_SR'].apply(lambda x: x/sq_sr)
pp_df['calc_RPI'] = pp_df['calc_RPI'].apply(lambda x: x/sq_rpi)
pp_df['calc_BPD'] = pp_df['calc_BPD'].apply(lambda x: x/sq_bpd)
pp_df['calc_BPB'] = pp_df['calc_BPB'].apply(lambda x: x/sq_bpb)

pp_df['calc_SR'] = pp_df['calc_SR'].apply(lambda x: x*wt_sr)
pp_df['calc_RPI'] = pp_df['calc_RPI'].apply(lambda x: x*wt_rpi)
pp_df['calc_BPD'] = pp_df['calc_BPD'].apply(lambda x: x*wt_bpd)
pp_df['calc_BPB'] = pp_df['calc_BPB'].apply(lambda x: x*wt_bpb)

best_sr, worst_sr = max(pp_df['calc_SR']), min(pp_df['calc_SR'])
best_rpi, worst_rpi = max(pp_df['calc_RPI']), min(pp_df['calc_RPI'])
best_bpd, worst_bpd = max(pp_df['calc_BPD']), min(pp_df['calc_BPD'])
best_bpb, worst_bpb = min(pp_df['calc_BPB']), max(pp_df['calc_BPB'])

In [ ]:
pp_df['dev_best_SR'] = pp_df['calc_SR'].apply(lambda x: (x-best_sr)*(x-best_sr))
pp_df['dev_best_RPI'] = pp_df['calc_RPI'].apply(lambda x: (x-best_rpi)*(x-best_rpi))
pp_df['dev_best_BPD'] = pp_df['calc_BPD'].apply(lambda x: (x-best_bpd)*(x-best_bpd))
pp_df['dev_best_BPB'] = pp_df['calc_BPB'].apply(lambda x: (x-best_bpb)*(x-best_bpb))

pp_df['dev_best_sqrt'] = pp_df.apply(lambda x: x['dev_best_SR'] + x['dev_best_RPI'] + x['dev_best_BPD'] + x['dev_best_BPB'], axis = 1)

pp_df['dev_worst_SR'] = pp_df['calc_SR'].apply(lambda x: (x-worst_sr)*(x-worst_sr))
pp_df['dev_worst_RPI'] = pp_df['calc_RPI'].apply(lambda x: (x-worst_rpi)*(x-worst_rpi))
pp_df['dev_worst_BPD'] = pp_df['calc_BPD'].apply(lambda x: (x-worst_bpd)*(x-worst_bpd))
pp_df['dev_worst_BPB'] = pp_df['calc_BPB'].apply(lambda x: (x-worst_bpb)*(x-worst_bpb))

pp_df['dev_worst_sqrt'] = pp_df.apply(lambda x: x['dev_worst_SR'] + x['dev_worst_RPI'] + x['dev_worst_BPD'] + x['dev_worst_BPB'], axis = 1)

In [ ]:
#Final Step - Overall score for each player ( values from 0 - 1)

In [ ]:
pp_df['score'] = pp_df.apply(lambda x: x['dev_worst_sqrt']/(x['dev_worst_sqrt'] + x['dev_best_sqrt']), axis = 1)

In [ ]:
#End Result: Top players for our required role

In [ ]:
pp_df[[ 'striker','innings', 'runs', 'balls', 'dismissals', 'fours', 'sixes', 'SR', 'BPB', 'score']].sort_values(['score'], ascending = False).reset_index(drop = True).head(25)

            striker  innings  runs  balls  dismissals  fours  sixes          SR       BPB     score
0   SP Narine        44       665   404    36          86     38     164.603960  3.258065  0.961007
1   YBK Jaiswal      37       727   490    17          105    28     148.367347  3.684211  0.881802
2   JM Bairstow      36       695   487    16          88     30     142.710472  4.127119  0.802183
3   CA Lynn          40       779   553    17          99     37     140.867993  4.066176  0.773323
4   E Lewis          22       420   298    13          49     21     140.939597  4.257143  0.760874
5   PP Shaw          71       1207  856    46          167    36     141.004673  4.216749  0.755265
6   JC Buttler       76       1414  1031   33          182    61     137.148400  4.242798  0.698384
7   V Sehwag         103      1593  1160   60          230    46     137.327586  4.202899  0.683256
8   GJ Maxwell       43       432   314    18          59     16     137.579618  4.186667  0.680274
9   SA Yadav         57       773   571    13          109    23     135.376532  4.325758  0.675921
10  YK Pathan        33       343   252    12          46     14     136.111111  4.200000  0.653836
11  RA Tripathi      64       873   645    31          109    32     135.348837  4.574468  0.641098
12  DA Warner        167      3191  2404   67          420    96     132.737105  4.658915  0.611514
13  KP Pietersen     28       392   301    5           47     12     130.232558  5.101695  0.594177
14  F du Plessis     107      1839  1399   38          226    62     131.451036  4.857639  0.581472
15  JD Ryder         29       440   334    19          58     13     131.736527  4.704225  0.561558
16  CH Gayle         135      2373  1837   65          264    143    129.178008  4.513514  0.519142
17  WP Saha          84       1259  972    47          173    38     129.526749  4.606635  0.515139
18  Abhishek Sharma  24       415   322    13          63     6      128.881988  4.666667  0.508102
19  Q de Kock        96       1701  1328   44          188    69     128.087349  5.167315  0.497071
20  SK Raina         133      1552  1207   45          198    54     128.583264  4.789683  0.496197
21  AC Gilchrist     80       1385  1080   48          191    49     128.240741  4.500000  0.491854
22  ST Jayasuriya    30       514   403    20          61     27     127.543424  4.579545  0.474234
23  Ishan Kishan     60       1012  804    18          128    37     125.870647  4.872727  0.469531
24  DP Conway        22       392   312    7           49     11     125.641026  5.200000  0.465663